<div class="page start-page">
    <div class="content">
        <div class="row">
            <div class="left">
            </div>
            <div class="right">
                <div class="btn-wrapper">
                    <a class="btn white" [routerLink]="['/main']">Start Tutorial</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="left">
            </div>
            <div class="right">
                <div class="btn-wrapper">
                    <button class="btn white" type="button">{{ "title" | translate }}</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="left">
                textUpdate1
            </div>
            <div class="right">
                <input type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="left">
                textUpdate1
            </div>
            <div class="right">
                <input type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="left">
                textUpdate1
            </div>
            <div class="right">
                <input type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="left">
                textUpdate1
            </div>
            <div class="right">
                <input type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="left">
                textUpdate1
            </div>
            <div class="right">
                <input type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="left">
                textUpdate1
            </div>
            <div class="right">
                <input type="text"/>
            </div>
        </div>
        
    </div>

</div>